/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pressets.css ***!
  \********************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap);
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/header.css ***!
  \*****************************************************************************/
header{
    height: 10vh;
    width: 100%;
    background-color: rgb(2, 2, 2);
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#header-img{
    left: 150px;
    height: 50%;
    height: 85px;
    cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 100%;
}

.nav-links a{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #f1f0e0;
  font-family: Oswald;
  height: 100%;
  width: 100%;
}
.nav-links a:hover{
    cursor: pointer;
    animation-name: nav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes nav {
    100%{
       color:black;
       background: #f1f0e0;
    }
}
/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/mainPage/video-container.css ***!
  \***********************************************************************************************/
 #video-container{
    width: 100%;
    height: 80vh;
    background-color: rgb(10, 10, 10);

 }
 #gif{
     width: 100%;
     height: 100vh;
     object-fit: cover;
     animation-name: video;
     animation-duration: 4s;
     animation-fill-mode: forwards;
     overflow: hidden;
     user-select: none;
 }
 @keyframes video{
    100%{
        opacity: 0.3
    }
 }
 #introduction{
    font-size: 35px;
    text-align: center;
    color: #f1f0e0;
    letter-spacing: 2px;
    font-weight: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Oswald;
    animation-name: video-text;
    animation-duration: 4s;

 }
 @keyframes video-text{
     0%{
         opacity: 0;
     }
 }
/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/footer/footer.css ***!
  \************************************************************************************/
footer{
    height: 10vh;
    width: 100vw;
    background-color: rgb(2, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    letter-spacing: 1.5px;
    color: #f1f0e0;
    font-family: Oswald;
    margin: 4px;
}
#svg{
    display: flex;
    justify-content: center;
    margin: 4px;
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/aboutUs/aboutUs.css ***!
  \**************************************************************************************/
#contentAboutUs{
    width: 100%;
    height: 80vh;
    background: url(143b153ace876b774bb4.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#textContainer{
    position: relative;
    right:22%;
    text-align: justify;
    display: flex;
    align-items: center;
    line-height: 35px;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    font-size: 22px;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    0%{
        opacity: 0;
        right: 25%;
    }
}
#iframe{
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}
#description{
    color: rgb(238, 222, 222);
    font-family: Oswald;
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pressets.css (1) ***!
  \************************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow:hidden;
}

#content{
    width: 100vw;
    height: 100vh;
}
