#contentAboutUs{
    width: 100%;
    height: 80vh;
    background: url(earth1.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#textContainer{
    position: relative;
    right:22%;
    text-align: justify;
    display: flex;
    align-items: center;
    line-height: 35px;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    font-size: 22px;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    0%{
        opacity: 0;
        right: 25%;
    }
}
#iframe{
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}
#description{
    color: aliceblue;
    font-family: Oswald;
}