 #video-container{
   
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);

 }
 #gif{
     width: 100%;
     height: 100vh;
     object-fit: cover;
     animation-name: video;
     animation-duration: 4s;
     animation-fill-mode: forwards;
     overflow: hidden;
     user-select: none;
 }
 @keyframes video{
    100%{
        opacity: 0.3
    }
 }
 #introduction{
    font-size: 35px;
    text-align: center;
    color: #f1f0e0;
    letter-spacing: 2px;
    font-weight: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Oswald;
    animation-name: video-text;
    animation-duration: 4s;

 }
 @keyframes video-text{
     0%{
         opacity: 0;
     }
 }